table, th, td {
    border: 1px solid black;
    font-family: 'Playfair Display', serif;
}

h1 {
    text-align: center;
    font-family: 'Playfair Display', serif;
}

h2 {
    font-family: 'Playfair Display', serif;
}

h3 {
    font-family: 'Playfair Display', serif;
}

h4 {
    font-family: 'Playfair Display', serif;
}

p {
    font-family: 'Playfair Display', serif;
    color: black;
}

li {
    font-family: 'Playfair Display', serif;
}

a {
    font-family: 'Playfair Display', serif;
}

input {
    font-family: 'Playfair Display', serif;
}
body {
    background-color: #00B6B9;
}
#image{
    height:300px;
}
.quer-col{
    padding-bottom: 30px;
}
.bg-col{
    background-color: #00B6B9;
}

.header-container {
    background-image: url(./data.jpg);
    height:300px;
}

.firsthome {
  background-image: url("./data2.jpg");
  background-color: rgb(38, 59, 128);
  height: 100%;
  background-position: bottom; /*bottom- center */
  background-repeat: no-repeat;
  background-size: cover;
}

